/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}
/* font open sans */
body {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
/* increase line height to create more separations between lines */
p {
    line-height: 1.5;
}
/* set max width and center on page */
div.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* style h1 and position on page */
h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}
/* style all h2 and margin bottom for spacing */
h2 {
    font-weight: bold;
    font-size: 48px;
    margin: 30px 0;
}
/* style all h3 and add margin on top and bottom */
h3 {
    font-weight: bold;
    font-size: 32px;
    margin: 15px 0px;
}
/* style all h4 and add color to border bottom for line also position */
h4 {
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
    border-bottom: 2px solid #c78b06;
    margin: 5px 20px 8px 10px;
    text-align: left;
}

span {
    vertical-align: middle;
}

.im-play {
    vertical-align: middle;
}

/* make image full width */
img {
    width: 100%;
}
/* add color and padding to nav section */
nav {
    background-color: #222;
    padding: 10px;
}
/* make nav li items display side by side and centered */
nav li {
    display: block;
    text-align: center;
    padding: 12px 0;
}
/* put logo on the left side of nav */
nav li:first-child {
    text-align: left;
}
/* change color of nav items and remove underline */
nav li a {
    color: #c78b06;
    text-decoration: none;
}
/* make color of nav li change when mouse hover */
nav li:hover {
    background-color: #c78b06;
}

/* make nav li a change color when hover */
nav li:hover a {
    color: #222;
}

nav li:last-child:hover {
    background-color: #222;
}

nav li:last-child:hover a {
    background-color: #c78b06;
}

/* change size of nav im and align left */
nav img {
    width: 15%;
    text-align: left;
}
/* make search box inline and next to other nav items. adjust size */
.search {
    display: inline-block;
    width: 93%;
    margin-right: -5px;
}
/* adjust size and padding and margin for search box/icon */
#yoursearch {
    width: 100%;
    padding: 6px;
    margin-bottom: 0;
}
/* add border to search icon, display inline, add padding, change size and align center */
.magnifier {
    display: inline-block;
    /* padding: 6px 0px; */
    width: 5%;
    text-align: center;
}
/* magnifger icon style */
i.im-magnifier {
    color: #c78b06;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;

}
/* change size of sections and center them on page */
section {
    width: 90%;
    margin: 0 auto;
}
/* makes vision section and footer bigger than the other parts of the page */
section.vision,
footer {
    width: 100%;
}

section div.flex {
    margin: 0;
    padding: 0;
}
/* style the vision section */
section.vision div {
    color: white;
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}
/* style vision button */
section.vision button {
    background-color: rgb(0, 0, 0, .8)
}
/* style background image in welcome section */
.banner {
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 20px 0;

}
/* style text in welcome section */
.bannerinfo {
    background-color: rgb(0, 0, 0, .5);
    color: white;
    padding: 30px 10px;
}

.bannerinfo p {
    padding: 0;
}

.bannerinfo button {
    background-color: #c78b06;
    color: black;
    margin: 0;
}
/* base style for all buttons */
button {
    border: 1px solid #c78b06;
    background: none;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 4.5px;
    /* padding: 20px 10px; */
}
/* hover style for all buttons */
button:hover {
    border: 1px solid #c78b06;
}
/* adds margin bottom to all paragraphs */
p {
    margin-bottom: 20px;
}
/* stlye about us section */
#aboutus {
    background-color: #FFE6AC;
}

#aboutus img {
    padding: 20px;
}

section.flex-container section {
    width: 100%;
}
/* style all section divs to have same color and margin and padding */
section div {
    background-color: #FFE6AC;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
/* style all section div p h2 h3 to have left and right padding */
section div p,
section div h2,
section div h3 {
    padding: 0px 20px;
}
/* stlye all section div buttons to have margin bottom and left margin */
section div button {
    margin: 0 0 10px 20px;
    background: black;
    color: white;
}

section#team div h3 {
    margin-bottom: 0;
}
/* style send button in contact us section */
button#send {
    color: #c78b06;
    padding: 6px 5px;
    margin: 10px 0 0 0;
}
/* style text input areas to be block, full width, and have margin bottom */

label {
    display:block;
    margin-bottom:10px;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
/* make message area bigger and remove resize */
textarea {
    padding-bottom: 120px;
    resize: none;
}
/* Contact Us Section */
div#Contactus,
div#hoursofoperation,
div#location {
    background: white;
}
/* Hours of Operations table properties */
table {
    width: 100%;
}

thead {
    background: #FFE6AC;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px 0 10px 5px;
}

iframe {
    width: 337.5px;
    height: auto;
}
/* footer section */
footer {
    background-color: #222;
    color: #c78b06;
    padding: 20px 0 10px 20px;
}

footer span {
    text-decoration: underline;
}
/* connect with us button */
.bannerinfo a {
    background-color: #c78b06;
    color: black;
    margin: 0;
    text-decoration: none;
    padding: 15px 15px 15px 15px;
    text-align:center;
    vertical-align: middle;
    display: inline;
}
/* the black buttons */
.blkbtn {
    text-decoration: none;
    background-color: #222;
    color: white;
    padding: 15px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
}
section div p,
    section div h2,
    section div h3 {
        padding: 10px;
    }

    .flex-container button {
        margin: 0 auto;
        display: block;
    }
    .flex-container img{
       margin: 0;
       display: block; 
    }
    section div h2,
    section div h3 {
        margin: 0;
        padding-top:20px;
    }

    section div button {
        margin: 0
    }

    .oteam {
        margin: 0;
    }

    .flex-container-about h2 {
        padding: 0 20px;
    }

    .flex-container-about p {
        padding:20px 20px 5px 20px;
        margin-bottom:5px;
    }

    .flex-container-about div.half, 
    .flex-container-about div.almosthalf {
        margin: 0;
        padding:0;
    }
/* ----------------------------Desktop Layout--------------------------------- */

@media only screen and (min-width:760px) {
/* responsive sizing and alignment  for headings, img, nav, sections, divs */
    h1 {
        font-size: 64px;
        padding-bottom:20px;
    }

    h3 {
        font-size: 18px;
    }

    nav img {
        width: 100%;
        vertical-align: middle;
    }

    nav li {
        flex: 1;
    }


    .search {
        display: inline-block;
        width: 78%;
    }

    #yoursearch {
        width: 100%;
        padding: 6px;
        margin-bottom: 0;
    }

    .magnifier {
        display: inline-block;
        width: 18%;
        text-align: center;
    }

    i.im-magnifier {
        color: #c78b06;
        vertical-align: middle;
        font-size: 16px;
        text-align: center;

    }
    /* should be able to use display: flex to distribute instead of manually settings the size */
    .nav-list{
        display: flex;
        align-items: center;
    }

    .banner {
        background-image: url("../images/main-banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        padding: 40px 65px;

    }

    .bannerinfo {
        background-color: rgb(0, 0, 0, .5);
        color: white;
        padding: 60px 10px 20px;
    }

    .bannerinfo p {
        padding: 0;
    }

    section {
        width: 100%;
    }

    #aboutus img {
        padding: 5px 0px 10px 80px;
        display: none;
    }

    h4 {
        margin-left: 10px;
    }

    .blkbtn {
        text-align:center;
        margin: 0 10px;
        padding:24px;
        display: block;
    }

    section.vision div {
        color: white;
        background-image: url("../images/vision.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 40px 80px;
    }

    .mobile-only {
        display: none;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        padding: 20px 80px;
    }

    .flex-container-about {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        padding: 20px;
    }
    .flex-container-about div.half {
        background-image: url("../images/about-us.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .flex-container-team {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
    }
    /* Ordering content on page for various sections */
    div.flex-container-team {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .flex-container button {
        width: 98%;
    }
/* top services section */
    .full {
        order: 0;
        flex: 1 1 80%;
        align-self: auto;
    }

    .half {
        order: 0;
        flex: 0 1 49%;
        align-self: auto;
    }

    .almosthalf {
        order: 0;
        flex: 0 1 45%;
        align-self: auto;
    }

    .truehalf {
        order: 0;
        flex: 0 1 50%;
        align-self: auto;
    }


    .team-half {
        flex: 0 1 50%;
        align-self: flex-start;
    }
/* bottom 3 services */
    .third {
        order: 0;
        flex: 0 1 32%;
        align-self: auto;
    }

    .reverse:nth-child(1) {
        order: 2;
    }

    .reverse:nth-child(2) {
        order: 1;
    }

    .contactorder:nth-child(1) {
        order: 1;
    }

    .contactorder:nth-child(2) {
        order: 2;
    }

    .contactorder:nth-child(3) {
        order: 4;
    }


    .contactorder:nth-child(4) {
        order: 3;
        align-self:stretch;
        padding-left:10px;
    }
    /* google map */
    iframe {
        width:100%;
        height:300px;
    }

    footer {
        padding-left:80px;
    }
    /* send button */
    button#send {
        width:auto;
    }
    img{
        width: 100%;
      }
      /* Team Section */
      #team{
        grid-template-areas:
          "header header"
          "pic1 info1"
          "info2 pic2";
        background-color: #FFE6AC;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        width:auto;
        margin:0 80px;
        
      }
      #team .oteam{
        grid-area: header;
        background-color: white;
      }
      #team .johnpic{
        grid-area: pic1;
      }
      #team .johninfo{
        grid-area: info1;
      }
      #team .bobpic{
        grid-area: pic2;
      }
      #team .bobinfo{
        grid-area: info2;
      }
      
}

/* ----------------------------H3 Breakpoint--------------------------------- */

@media only screen and (min-width:1145px) {

    h3 {
        font-size: 32px;
    }
}